
/** simple **/
.slider_wrapper.simple{padding:5px; background-color:#fff; width:890px; position:relative; margin-left:auto;margin-right:auto;}
.slider_wrapper.simple .inside{width:890px; height:490px; position:relative; overflow:hidden;}

/** resonsive slider **/
.slider_wrapper.responsive {padding:0px; background-color:#fff;	width:960px; position:relative;	margin-left:auto; margin-right:auto;}
.slider_wrapper.responsive .inside{	width:960px; height:500px; position:relative; overflow:hidden;}

/*	THE MEDIA CHOOSER TO SET DIFFERENT SIZES OF THE CONTAINER DEPENDING ON THE SCREEN SIZE    */
@media only screen and (min-width: 768px) and (max-width: 959px) { .slider_wrapper.responsive , .slider_wrapper.responsive .inside {width:760px; height:395px;} }
@media only screen and (min-width: 480px) and (max-width: 767px) { .slider_wrapper.responsive , .slider_wrapper.responsive .inside {width:480px; height:250px;} }
@media only screen and (min-width: 0px) and (max-width: 479px) {.slider_wrapper.responsive , .slider_wrapper.responsive .inside	{ width:320px;height:166px; } }

/** fullscreen slider **/
.slider_wrapper.fullscreen{width:100% !important; position:relative; padding:0; height:100%;}

/** full width slider **/
.slider_wrapper.fullwidth {width:100% !important; position:relative; padding:0;	max-height:500px !important; overflow:hidden;}/** noise overlay **/

/** stretch video controls **/
.fullscreenvideo .mejs-container {width: 100% !important; height:inherit !important;}
.fullscreenvideo .mejs-container .mejs-layer {width: 100% !important; height: 100% !important;}

/** noise overlay **/
.tp-dottedoverlay.noise {background: url(../img/overlay_noise.gif); opacity: 0.1;}

/** prevent blinking while creating the slider **/
.ce_revolutionslider .tp-banner {visibility: hidden;}
.ce_revolutionslider .tp-banner.revslider-initialised {visibility: visible;}

/** contao framework **/
.ce_revolutionslider.responsive, .rs-container.responsive {height: auto;}