#wrapper {
	max-width:940px;
	margin:0 auto;
	padding:27px;
	font-family: 'Lobster', cursive;
	color: #403e3d;
}

h1 span {
	font-size:55px;
	font-weight: 400;
}
img {
	max-width:100%
}
.clear {
	clear:both;
}

#roundzp {
	width:356px;
	height:356px;
	border-radius: 50%;
	background-color:#FFF;
	display: block;
	margin:0 auto;
}
h1 {
	color:#7bbb1f;
	font-size: 36px;
	font-family: 'Rancho', cursive;
	font-weight: 100;
	margin: 0px;
}
.box11 {
	width:50%;
	padding:0px 10% 0px 0px;
	float:left;
}
.box12 {
	width:40%;
	padding:0px;
	float:left;
}

.hrbig {
	width:100%;
	height:10px;
	background-color: #7bbb1f;
	border:0px;
	margin:20px 0px;
}
.h520 {
	min-height: 520px !important;
}
#topbadge {
	background: url("/files/cto_layout/infopage-26-fakten/img/badge.png") center center no-repeat;
	width: 100%;
    min-height: 260px;
    border-top:5px solid #7bbb1f;
    border-bottom:5px solid #7bbb1f;
    padding:10px 0px 10px 0px;
    text-align: 	center;


}
.hrsmall {
	width:100%;
	height:5px;
	background-color: #7bbb1f;
	border:0px;
	margin:10px 0px;
}

#badgetext1 {
	margin-top: 40px;
    font-size: 45px;
    color: #fff;
    display: block;

}
#badgetext2 {
	margin-top:70px;
	font-size:45px;
	color:#fff;
	display: block;
}    

#box21 {
	background-color: #4782a7;
	width:30%;
	padding:0px;
	margin-right:2%;
	float:left;
	min-height: 520px;
	position: relative;
}
#box22 {
	width:67%;
	padding:4px;

	background-color: #badcf2;
	min-height: 200px;
	float:left;
		text-align: center;
	position: relative;


}

#ch1 {
	position: absolute;
	    bottom: 80px;
    left: 160px;
    width: 70px;
    height: 0px;
	background-color: #144f6a;
}
#ch2 {
	position: absolute;
	bottom: 80px;
    left: 270px;
    width: 70px;
    height: 0px;
	background-color: #4782a7;
}

#ch3 {
	position: absolute;
	bottom: 80px;
    left: 380px;
    width: 70px;
    height: 0px;
	background-color: #7bbb1f;
}

#ch4 {
	position: absolute;
	bottom: 80px;
    left: 490px;
    width: 70px;
    height: 0px;
	background-color: #464646;
}

#bottom {
	text-align: center;
	color:#787878;
	font-family: Verdana;
	font-size: 12px;
}

#presented {
	height: 40px;
	margin: 15px 0 15px 0;
}

.footer-links, .footer-links__col {
	text-align: center;
}

.footer-links ul {
	list-style-type: none;
}

.footer-links img {
	display:none;
}

#ext  {
    background: aliceblue;
    padding: 20px;
}

#ext textarea {
    text-align: center;
    text-align: -webkit-center;
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 100px;
}

#box32 {
	background-color: #4782a7;
	width:30%;
	padding:0px;
	float:left;
	min-height: 520px;
	position: relative;
}
#box31 {
	width:67%;
	padding:4px;
	margin-right:2%;

	background-color: #badcf2;
	min-height: 200px;
	float:left;

}


.quelle {
	font-size: 10px;
	color:#888a8a;
	bottom:0px;
	position: absolute;
	font-family: Verdana;
	padding:0px 0px 3px 3px;
	text-align: left;
}
.quellew {
	font-size: 10px;
	color:#fff;
	bottom:0px;
	position: absolute;
	font-family: Verdana;
	padding:0px 0px 3px 3px;
	text-align: left;
}

.title {
	width:80%;
	margin:100px auto;
	border-top:3px solid #fff;
    border-bottom:3px solid #fff;
    text-align: center;


}
.title h2 {
	font-size: 36px;
	color:#FFF;
	font-family: 'Rancho', cursive;
	font-weight: 100;




}

.boxwide {
	background-color: #badcf2;
	width:100%;
	height: 500px;
	position: relative;

}

#zp1, #zp2, #zp3 {
	position: absolute;
	display:none;
}
#zp1 {
	top: 97px;
    left: 320px;
}
#zp2 {
	top: 114px;
    left: 483px;
}
#zp3 {
	top:256px;
	left:361px;
}
.box4x4 {
	width:50%;
	float:left;
	text-align: center;
	padding-bottom: 9px;
}

.titlebox {
	width:100%;
	background-color: #7bbb1f;
	color:#FFF;
	text-align: center;
}
#box22 h2 {
	font-size: 28px;
	color:#403e3d;
font-weight: 100;
}
.titlebox h2 {
	padding:10px;
	font-family: 'Rancho', cursive;
	font-weight: 100;
	font-size: 36px;
	margin: 20px 0px;
}

.circle {
  display: block;
  width: 162px;
  height: 162px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

#n1 {
	top: 339px;
    left: 167px;
    position: absolute;
      visibility: hidden;
  animation: 0s linear 2.3s forwards delayedShow ;
}
#n2 {
	top: 306px;
    left: 276px;
    position: absolute;
      visibility: hidden;
  animation: 0s linear 2.3s forwards delayedShow ;
}
#n3 {
	top: 146px;
    left: 386px;
    position: absolute;
      visibility: hidden;
  animation: 0s linear 2.3s forwards delayedShow ;
}
#n4 {
	top: 287px;
    left: 495px;
    position: absolute;
      visibility: hidden;
  animation: 0s linear 2.3s forwards delayedShow ;
}

@keyframes delayedShow {
  to {
    visibility: visible;
  }
}

.delayedShow{

}

.circle2:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
} 


@-webkit-keyframes clocklonghover {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes clocklonghover {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.clocklonghover {
  -webkit-animation: clocklonghover 3s linear infinite;
  -moz-animation: clocklonghover 3s linear infinite;
  -ms-animation: clocklonghover 3s linear infinite;
  -o-animation: clocklonghover 3s linear infinite;
  animation: clocklonghover 2s linear infinite;
}


@-webkit-keyframes clockshorthover {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes clockshorthover {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.clockshorthover {
  -webkit-animation: clockshorthover 4s linear infinite;
  -moz-animation: clockshorthover 4s linear infinite;
  -ms-animation: clockshorthover 4s linear infinite;
  -o-animation: clockshorthover 4s linear infinite;
  animation: clockshorthover 4s linear infinite;
}

#info1 {
	position: absolute;
	top:200px;
	left:0px;
	width:390px;
	text-align:left;
	display: none;
}

#info2 {
	position: absolute;
	top:105px;
	right:0px;
	width:390px;
	text-align:right;
	display:none;
}

#info3 {
	position: absolute;
	top: 318px;
    right: 0px;
    width: 478px;
	text-align:right;
	display:none;
}
#info1 p {
	padding-left: 20px;
    font-size: 22px;

}
#info2 p, #info3 p {
	padding-right: 20px;
    font-size: 22px;
    display: block;
    margin-top:10px;

}
#info1 h3, #info2 h3, #info3 h3 {
	border-bottom:5px solid #7aba1c;
	width: 100%;
	font-size: 28px;
	font-weight: 100;
	margin-bottom: 10px;
	color:#16516c;
}

.info4 h3 {
	border-bottom:5px solid #7aba1c;
	width: 94%;
	font-size: 28px;
	font-weight: 100;
	margin-bottom: 10px;
	color:#16516c;
	text-align: left;
}

.info5 h3 {
	border-bottom:5px solid #7aba1c;
	width: 100%;
	font-size: 28px;
	font-weight: 100;
	margin-bottom: 10px;
	color:#16516c;
	text-align: left;
}

.info5 p, .info4 p {
	font-family: 'Rancho', cursive;
    font-size: 30px !important;
    line-height: 30px;
    color: #403e3d;
    text-align: left;
    padding: 0px 0px 0px 20px;
}


.slide {
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.slide2 {
    -webkit-animation: slide2 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide2 0.5s forwards;
    animation-delay: 0.5s;
}

@-webkit-keyframes slide2 {
    100% { right: 0; }
}

@keyframes slide2 {
    100% { right: 0; }
}

.slide3 {
    -webkit-animation: slide3 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide3 0.5s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide3 {
    100% { right: 0; }
}

@keyframes slide3 {
    100% { right: 0; }
}


.popout {
	display:block !important;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

.popout_d1 {
	display:block !important;
    animation: popout_d1 1s ease;
    -webkit-animation: popout_d1 1s ease;
    transition-delay: 2s;
}
@keyframes popout_d1 {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout_d1 {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

/* transition-delay: 2s; */

/*
.clocklonghover {
	
  transition: 1.5s;
  -webkit-transition:1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);


  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
} 

.clockshorthover {
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 20s;
  -ms-transition: 2s;
  -o-transition: 2s;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
*/
/*  Animation heart */
@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.5); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.2); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
@keyframes pulse_hurt_animation {
    0% { transform: scale(1.2); }
    30% { transform: scale(1); }
    40% { transform: scale(1); }
    50% { transform: scale(1.2); }
    60% { transform: scale(1); }
    70% { transform: scale(1); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
	cursor: pointer;
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pulse_hurt {
	cursor: pointer;
    animation-name: pulse_hurt_animation;
    animation-duration: 2000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hurt {
	position: absolute;
	top: 151px;
    left: 214px;
}
#bugdiv {
	height: 530px;
}

.hurtdiv {
	height: 520px !important;
}
/* Animation bug */
.kuriosbox {
	float:left;
	width:33%;
	text-align: center;
	padding: 5px 0px 0px 0px;
	min-height: 250px;
	font-family: 'Rancho', cursive;
	font-size: 30px;
	line-height: 30px;
	color:#403e3d;
	position: relative;

}

.kuriosbox h3 {
 	font-family: 'Lobster', cursive;
 	margin:0px 0px 10px 0px;
 	padding:4px;
   font-size: 30px;
    line-height: 30px;
    color:#403e3d;
    font-weight: 100;
}

.kuriosbox img {
	-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}
.b51_1 {
	width:50%;
	text-align: center;
	float:left;
	padding-top:20px;
	position: relative;
}

.b50_1 {
	width:48%;
	text-align: center;
	float:left;
	padding-top:20px;
	position: relative;
}
.b50_hr {
	width:10px;
	height:480px;
	background-color: #fff;
	margin:20px 0px 0px 20px;
	float:left;
}

.b51_hr {
	width:9px;
	height:480px;
	margin:20px 0px 0px 20px;
	float:left;
}

.green {
	color:#7abb1d;
}
.b50_2 {
	width:48%;
	text-align: center;
	float: left;
	padding-top:20px;
	position: relative;
}
.b51_2 {
	width:46%;
	text-align: center;
	float: left;
	padding-top:20px;
	position: relative;
}

#line1 {
	position: absolute;
	top: 130px;
    left: 47px;
    display: none;
}
#sign1 {
	position: absolute;
	top: 190px;
    left: 270px;
        display: none;

}
.clock1 {
	position: absolute;
	top: 122px;
    left: 176px;
}
.b50_2 p {
	text-align: left;
	padding:0px 0px 0px 20px;
	font-size: 22px;
	color:#403e3d;
}
.b50_1 img, .b50_2 img {
	margin: 0 auto;
}

.h3 {
 	font-family: 'Lobster', cursive;
 	margin:0px 0px 10px 0px;
 	padding:4px;
   font-size: 25px;
    line-height: 30px;
    color:#403e3d;
    font-weight: 100;
}

.sq1, .sq2, .sq3, .sq4 {
	float:left;
	height:255px;
	text-align: center;
	font-size: 28px;
	display: table;
	background-color: #badcf2;
}
.sq2, .sq4 {
width:49%;
}
.sq1, .sq3 {
	margin-right: 10px;
	width:49%;
}
.sq1, .sq2 {
	margin-bottom: 10px;
}
#box31 {
	margin:0px 3% 0px 0px;
	padding:0px;
	text-align: center;
	background-color: #fff !important;
}
#box31 p {
	display: table-cell;
    vertical-align: middle;

}
.table {
	display: table;
	text-align: center;
}
.table p {
	display: table-cell;
    vertical-align: middle;


}
#box31 .big {
	padding: 10px 0px;
    display: inline-block;
    font-size: 36px;
}

#loading {
  display: inline-block;
}

@keyframes rotation {

	from { 
		transform: rotate(0deg);
		width:176px;
    height:102px;
     left:66px;
     top:52px;
      }
    33% {
    	 transform: rotate(20deg);
    	 width:135px;
    height:120px;
    left:87px;
     top:45px;

    }  
    66% {
    	 transform: rotate(-20deg);
    	 width:186px;
    height:122px;
     left:66px;
     top:52px;
    }
  to   {
  	transform: rotate(0deg);
  	width:176px;
    height:102px;
     left:66px;
     top:52px;
 }

/*

  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
  */
}

@keyframes rotation2 {


	from { 
		width:176px;
    height:102px;
     left:66px;
     top:52px;
      }
    50% {
    	 width:135px;
    height:120px;
    left:87px;
     top:45px;

    }  
  to   {
  	width:176px;
    height:102px;
     left:66px;
     top:52px;
 }

}

#kiss {
	position: absolute;

	top: 52px;
    left: 66px;

 	-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;


}
#kiss:hover {
	    x-transition: all 1s ease-in-out;
  		animation: rotation2 1s infinite;


}

#worm {
	-webkit-transition: transform 0.8s;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	position: absolute;
	top: 52px;
    left: 66px;
 	-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;

}

#worm:hover {
	  animation: rotation 2s infinite linear;


}
.flip-card {
  background-color: transparent;
  width: 162px;
  height: 162px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px auto 15px auto;


}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 164px;
  height: 164px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(360deg);
}

.flip-card-start .flip-card-inner {
  transform: rotateY(360deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 164px;
  height: 164px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}


.showm {
	display:none;
}


.h500 {
	min-height: 500px !important;
}
@media (max-width: 400px) {

.b51_2, .b51_1,.b50_2, .b50_1 {
	width:100%;
	float: none;
}
.info5 h3 {
    border-bottom: 0px; 
    width: 100%;
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #16516c;
    text-align: left;
    padding-left: 15px;
}
.b51_hr, .b50_hr {
  display: none;
	}

	.info5 p, .info4 p {
    font-size: 24px !important;
    line-height: 24px;
}
.clock1 {
    position: absolute;
    top: 130px;
    left: 98px;
}
#sign1 {
    width: 83px;
    position: absolute;
    top: 209px;
    left: 189px;
    display: none;
}
#line1 {
    width: 242px;
    position: absolute;
    top: 155px;
    left: 17px;
    display: none;
}
.h100 {
	height: 200px !important;
	text-align: center;

}
.h100 img {
	width:90%;
	margin:0 auto
}
.h520 {
    min-height: 1020px !important;
}
.hurtdiv {
    
  height: 1030px !important;
}
.showm {
	display:block;
	margin-bottom:10px;
}

.chartshow {
	display:none;
}
.h500 {
    min-height: 235px !important;
}
.hidem {
	display:none;
}

#box21 {
	min-height: 0;
	margin-bottom:10px !important;
}
.box11, .box12, #box21, #box22, .box4x4, #box31, #box32 {
	width:100%;
}

.sq1, .sq2, .sq3, .sq4 {
  width:100%;
  float:none;
}
.sq3, .sq4  {
	margin-bottom: 10px;
}

#box32 {
 min-height: 10px;
	}

#bugdiv {
	height: 1551px;
}



.kuriosbox { 
	float:none;
	width:100%;
}

.overbug {
	width:100%;

}
.titlebox h2 {
	padding:5px;
	font-family: 'Rancho', cursive;
	font-weight: 100;
	font-size: 28px;
	margin: 10px 0px;
}

#box22 {
    padding: 0px;
    position: relative;;
    }

#topbadge {
	background-size: contain;
}
#badgetext1 {
 	margin-top: 62px;
   font-size: 32px;

}
#badgetext2 {
	margin-top: 50px;
	font-size:36px;
}    

#box21, #box31 {
	padding:0px;
	margin-right:0%;
	float:left;
	min-height: 100px;
}
.title {
	width:80%;
	margin:50px auto;
}

h1 {
	font-size: 22px;
}
h1 span {
	font-size: 40px;
}




#roundzp {
    width: 230px;
    height: 230px;
}


}

