/* Styles für die Barmenia Brillenversicherungs-Seite */

/*:root {
 --bbv-accent-color: #ff801d;
 --bbv-second-color: #6eb643;
}*/

.barmenia-brillenversicherung .ce_versicherung_header .headline {
    max-width: 80%;
}

.barmenia-brillenversicherung .bg-accent {
  background: var( --bbv-accent-color);
}

.barmenia-brillenversicherung h1,
.barmenia-brillenversicherung h2,
.barmenia-brillenversicherung h3,
.barmenia-brillenversicherung h4,
.barmenia-brillenversicherung h5,
.barmenia-brillenversicherung h6,
.barmenia-brillenversicherung .font_headline {
  color: var(--bbv-accent-color);
}

.barmenia-brillenversicherung h2 {
  border-bottom: 2px solid var(--bbv-accent-color);
}

.barmenia-brillenversicherung {
  color: #696969;
}

.barmenia-brillenversicherung #bottom {
    background-color: #313131;
}

.barmenia-brillenversicherung li.success:before {
    color: var(--bbv-second-color);
}

.barmenia-brillenversicherung .calltoaction_bg {
  background-color: var(--bbv-accent-color)!important;
}

.barmenia-brillenversicherung .ce_calltoaction_v2 ul li::before {
  color: var(--bbv-second-color);
}

.barmenia-brillenversicherung .ce_calltoaction_v2 .ce_hyperlink a {
  background: var(--bbv-second-color);
}



.barmenia-brillenversicherung .mod_article.first .headline h1{
  max-width: 500px;
}

.barmenia-brillenversicherung .header {
  background: var(--bbv-accent-color);
  padding: 15px 0px!important;
}

.barmenia-brillenversicherung .header *{
  color: white;
}

.barmenia-brillenversicherung .header h1,
.barmenia-brillenversicherung .header h2,
.barmenia-brillenversicherung .header h3,
.barmenia-brillenversicherung .header h4,
.barmenia-brillenversicherung .header h5,
.barmenia-brillenversicherung .header h6 {
  margin: 0;
}


.barmenia-brillenversicherung .header .header-text {
  display: flex;
  justify-content: center;
}


.barmenia-brillenversicherung .header span.big-text {
  font-size: 28px;
    padding: 5px 10px;
    margin-right: 20px;
}

.barmenia-brillenversicherung .header a.small-text {
  font-size: 20px;
  background: var(--bbv-header-button-background)!important;
  color: var(--bbv-header-button-text-color)!important;
  padding: 5px 10px;
  border-radius: 10px;
}

.barmenia-brillenversicherung .header a.small-text:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.barmenia-brillenversicherung .header .inside {
  position: static;
}

.barmenia-brillenversicherung .ce_table {
  border: none;
  padding: 0;
  background: none;
}

.barmenia-brillenversicherung .ce_table tr:nth-child(odd),
.barmenia-brillenversicherung .ce_table tr:nth-child(even) {
    background: none;
}

.barmenia-brillenversicherung .ce_table th {
    background: var(--bbv-accent-color);
    padding: 6px;
}
.barmenia-brillenversicherung .ce_table th p{
    margin: 0;
}

.barmenia-brillenversicherung .ce_table tr td.col_first {
    font-weight: 600;
}

.barmenia-brillenversicherung .ce_table tr td.col_last p:before {
    /* content: "\f00c"; */
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    /* color: var(--bbv-second-color); */
}

.barmenia-brillenversicherung .ce_table tr td.col_1 p:before {
    /* content: "\f00c"; */
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    /* color: var(--bbv-second-color); */
}



.barmenia-brillenversicherung p.icon_ok:before {
    content: "\f058";
    color: #a3d884;
}

.barmenia-brillenversicherung p.icon_notok:before {
    content: "\f057";
    color: #f76a6a;
}


.barmenia-brillenversicherung .ce_cta a {
  text-decoration: none;
}


.barmenia-brillenversicherung .ce_cta a:before {
  content: "\f101";
  font-family: 'FontAwesome', sans-serif;
  display: inline-block;
  padding-right: 5px;
}
.barmenia-brillenversicherung .ce_cta a:after {
  content: "\f1ec";
  font-family: 'FontAwesome', sans-serif;
  display: inline-block;
  padding-left: 5px;
}


.barmenia-brillenversicherung .ce_table h3 {
  background: none;
  color: var(--bbv-accent-color);
  position: relative;
  padding: 0 0 20px 0;
  margin: 0;
  left: auto;
  font-size: 22px!important;
  text-transform: unset;
  top: auto;
}

.barmenia-brillenversicherung img{
  border-radius: 20px;
}

.barmenia-brillenversicherung .hyperlink_txt {
  border-radius: 10px;
}


.barmenia-brillenversicherung .ce_accordion .toggler:before {
  color: var(--bbv-accent-color);
}

.barmenia-brillenversicherung .ce_accordion {
  background: #f2f2f2;
  border: none;
  margin: 10px 0;
  border-radius: 10px;
  transition: 300ms;
}



.barmenia-brillenversicherung .ce_accordion .toggler:hover,
.barmenia-brillenversicherung .ce_accordion .toggler.ui-state-active {
  background: #f2f2f2;
}

.barmenia-brillenversicherung .ce_accordion .ui-accordion-content {
  background: white;
}

@media screen and (max-width: 992px) {
  .barmenia-brillenversicherung .header span.big-text {
    font-size: 18px;
    padding: 5px 10px;
    margin-right: 10px;
    line-height: 18px;
    font-weight: 600;
    padding: 8px 0px 8px 15px;
    display: flex;
    align-items: center;
    width: calc(100% - 80px);
  }

  .barmenia-brillenversicherung #contentwrapper {
      padding-top: 56px;
  }


  .barmenia-brillenversicherung .header a.small-text {
    font-size: 14px;
    line-height: 16px;
    padding: 5px 10px;
    margin: 15px 15px 15px 0;
  }

  .barmenia-brillenversicherung .header {
      padding: 0px 0px!important;
  }

  .barmenia-brillenversicherung .header .inside{
      padding: 0px 0px!important;
      height: auto;
  }

  /*.barmenia-brillenversicherung .ce_versicherung_header {
    background-position: 60% 0;
    background-size: 700px;
    padding-top: 10px!important;
    padding-bottom: 0px!important;
  }*/

  .barmenia-brillenversicherung .mod_article.first .headline h1 {
    max-width: 100%;
    word-break: break-word;
  }
  
   .barmenia-brillenversicherung .box-argumente .ce_text_extented {
    	margin-bottom: 20px!important;
	}
	
	.barmenia-brillenversicherung .box-argumente .inner > .ce_text_extented:last-of-type {
    	margin-bottom: 0!important;
	}
	
	 .barmenia-brillenversicherung .box-argumente .ce_text_extented h2 {
    	    margin-bottom: 0px!important;
		    padding-bottom: 0px!important;
		    border: none;
		    font-weight: 600;
	}

}
