
.bg-accent {
background-color: #faa026;
}
p a {
color: #faa026;
}
.divider-v2 h1:after,
.divider-v2 h2:after,
.divider-v2 h3:after,
.divider-v2 h4:after,
.dividerv h5:after,
.divider-v2 h6:after,
h1.divider-v2:after,
h2.divider-v2:after,
h3.divider-v2:after,
h4.divider-v2:after,
h5.divider-v2:after,
h6.divider-v2:after {
background: #faa026;
}
hr.divider_3:before {
background: #faa026;
}
hr.divider_3:before {
background: #faa026;
}
.divider_4_first {
border: 3px solid #faa026;
}
.divider_4_second {
background-color: #faa026;
}
.divider_4::after, .divider_4::before {
background-color: #faa026;
}
.divider_5 i {
color: #faa026;
}
.mainmenu ul ul {
border-top: 2px solid #faa026;
}
.header.original .mainmenu ul li a.trail,
.header.original .mainmenu ul li a.active,
.header.cloned .mainmenu ul li a.trail,
.header.cloned .mainmenu ul li a.active {
color: #faa026;
}
#top-wrapper.fixed .mainmenu a.active,
#top-wrapper.fixed .mainmenu a.trail {
color: #faa026;
}
.mainmenu ul ul li a:hover:not(.menuheader):not(.megamenu),
.mainmenu ul ul li a.active,
.mainmenu ul ul li a.trail:not(.megamenu) {
background: #faa026!important;
}
body.header-dark .fixed .mainmenu ul li a.trail,
body.header-dark .fixed .mainmenu ul li a.active {
color: #faa026;
}
.header-light #top-wrapper.fixed .mainmenu a.active,
.header-light #top-wrapper.fixed .mainmenu a.trail {
color: #faa026;
}
.subnav a {
color: #faa026;
}
#nav-open-btn:before {
background: #faa026;
}
.ce_table table th {
background: #faa026;
}
.ce_tabs .tabs.classic ul li.active,
.ce_tabs .tabs.classic ul li:hover {
border-color: #faa026;
}
.ce_tabs .tabs.horizontal ul li:hover a,
.ce_tabs .tabs.horizontal ul li.active a {
background: #faa026;
}
.ce_teambox .image .overlay {
background: #faa026;
}
.ce_teambox .email a {
color: #faa026;
}
blockquote a {
color: #faa026;
}
.header .mod_search .search-content {
background: #faa026;
}
.ce_iconbox.version2 i {
background: #faa026;
}
.ce_iconbox .link {
color: #faa026;
}
.ce_testimonial a {
color: #faa026;
}
.ce_accordion .toggler:before {
color:#faa026;
}
.mod_calendar th.head {
background:#faa026;
border-top:1px solid #faa026;
border-right:1px solid #faa026;
border-left:1px solid #faa026;
}
.mod_calendar th.previous a,
.mod_calendar th.next a {
background-color:#faa026;
}
.pagination li span.current {
background: #faa026;
}
.pagination li a:hover {
color: #faa026;
}
.mod_faqpage h3:before {
color: #faa026;
}
.mod_search .submit {
border: 1px solid #faa026;
}
input:focus,
textarea:focus {
border:1px solid #faa026;
}
form fieldset legend {
background-color:#faa026;
}
input.submit[type="submit"],
button.submit[type="submit"] {
background: #faa026;
}
input.submit[type="submit"]:hover,
button.submit[type="submit"]:hover {
background: #faa026;
}
.ce_youtube_background.overlay .YTPOverlay {
background-color: #faa026;
}
.label-accent {
background: #faa026;
}
.ce_hyperlink a,
a.btn {
background: #faa026;
border-color: #faa026;
}
.ce_hyperlink a.link-white,
a.btn.link-white {
color: #faa026;
}
.ce_hyperlink a.link-white:hover,
a.btn.link-white:hover {
background: #faa026;
}
.ce_hyperlink a.outline,
a.btn.outline {
color: #faa026;
}
.newslist h2,
.newslist h2 a {
color: #faa026;
}
.newslist .news-left .news-date {
background: #faa026;
}
.newsteaser .date {
background: #faa026;
}
#portfolio_filter a.selected,
#portfolio_filter a:hover {
background: #faa026;
}
.ce_chartbar .chart_data {
background: #faa026;
}
.color-accent,
.color-accent p,
.color-accent i,
.color-accent h1,
.color-accent h2,
.color-accent h3,
.color-accent h4,
.color-accent h5,
.color-accent h6,
.color-accent a:not(.link-white) {
color: #faa026;
}
blockquote {
border-color: #faa026;
}
.ce_pricetable .pricetable.highlight .title {
background: #faa026;
}
.ce_imagebox_v2 .ce_url a {
background: #faa026;
}
.ce_gallery .content {
background: #faa026;
}
.ce_headertext h1:after,
.ce_headertext h2:after,
.ce_headertext h3:after,
.ce_headertext h4:after,
.ce_headertext h5:after,
.ce_headertext h6:after {
background: #faa026;
}
.ce_countup i {
color: #faa026;
}
.newslist-v3 .date {
background: #faa026;
}
.ce_bgimage.offset.offset-bg-accent:before {
background-color: #faa026;
}
.ce_leadertext.version2 .divider-first {
border: 3px solid #faa026;
}
.ce_leadertext.version2 .divider-second {
background-color: #faa026;
}
.ce_leadertext.version2 .divider:after,
.ce_leadertext.version2 .divider:before {
background-color: #faa026;
}
.ce_accordion .toggler i.fa {
background: #faa026;
}
.newsteaser_v3 .news-overlay i {
background-color: #faa026;
}
.newslist-v3 .subheadline {
color: #faa026;
}
.ce_teambox .function {
color: #faa026;
}
.ce_tabs .tabs.horizontal-clean ul li.active:after {
border-color: #faa026 transparent transparent transparent;
}
.subheadline-v2 {
color: #faa026;
}
.ce_timeline .timeline-item .timeline-item-title {
background: #faa026;
}
.ce_portfoliofilter.default a.selected,
.ce_portfoliofilter.default a:hover {
background: #faa026;
}
.ce_portfoliofilter.only-icon a.selected i:before,
.ce_portfoliofilter.only-icon a:hover i:before {
background: #faa026;
border-color: #faa026;
}
.ce_tabs .tabs.horizontal-clean ul li.active a {
color: #faa026;
}
.ce_revolutionslider_hyperlink {
background: #faa026;
border-color: #faa026;
}
#top .mod_top_mail a:hover,
#top .mod_login_top:hover,
#top .mod_search:hover,
#top .mod_langswitcher span:hover  {
background: #faa026;
}
#top .mod_langswitcher ul li a:hover {
color: #faa026;
}
.ce_headline_extended.version2 .divider-first {
border-color: #faa026;
}
.ce_headline_extended.version2 .divider:after,
.ce_headline_extended.version2 .divider:before,
.ce_headline_extended.version2 .divider-second {
background-color: #faa026;
}
.mod_portfoliolist .item .linkbar a {
background-color: #faa026;
}
.mod_portfoliolist .item .linkbar a:hover {
color: #faa026;
}
.mod_portfoliolist .item .subline {
background-color: #faa026;
}
#top .mod_top_mail a {
color: #faa026;
}
#top .mod_top_phone span {
color: #faa026;
}
form .input-group-addon {
background: #faa026;
border-color: #faa026;
}
body .picker--focused .picker__day--selected,
body .picker__day--selected,
body .picker__day--selected:hover,
body .picker--focused .picker__day--highlighted,
body .picker__day--highlighted:hover,
body .picker__day--infocus:hover,
body .picker__day--outfocus:hover,
body .picker--focused .picker__list-item--highlighted,
body .picker__list-item--highlighted:hover,
body .picker__list-item:hover {
background-color: #faa026;
}
body .picker__list-item--highlighted,
body .picker__list-item:hover {
border-color: #faa026;
}
.ce_video_background .video-overlay  {
background-color: #faa026;
}
.ce_text_imagebox.imagebox_version2 .inside,
.ce_text_imagebox.imagebox_version3 .inside {
background-color: #faa026;
}
#offcanvas-top {
background: #faa026;
}
.cookiebar {
background: #faa026;
}
#footer a:hover,
#bottom .inside a:hover {
color: #faa026;
}
.ce_bgimage_content_start.bg-accent .bg_overlay {
background: #faa026;
}
.newslist-timeline:before,
.newslist-timeline-both h4:before {
border-color: #faa026;
}
.ce_divider_extended.version4 span {
background: #faa026;
}
.ce_divider_extended.version5 {
background: #faa026;
}
#top a {
color: #faa026;
}
.ce_linkbox h4 {
color: #faa026;
}
.body_bottom .mod_search .search-content {
background: #faa026;
}
.mod_customcataloglist.cc_immorealty .entry.top_object .cc_immorealty_top {
background: #faa026;
}
.mod_customcatalogfilter.immorealty_filter .filter_range .ui-slider-range {
background: #faa026;
}
.mod_customcatalogreader.cc_immorealty .property-furnishing li i {
color: #faa026;
}
.mod_customcatalogreader.cc_immorealty .price {
background: #faa026;
}
.mod_customcataloglist .cc_immorealty_slider .category  {
background: #faa026;
}
.mod_customcataloglist.cc_immorealty .customelements_notelist input {
background-color: #faa026;
}
.mod_customcataloglist.cc_cardealer .item-rightside .item-content-col2 {
color: #faa026;
}
.mod_customcatalogfilter.cardealer_filter .filter_range .ui-slider-range {
background-color: #faa026;
}
.mod_customcatalogreader.cc_cardealer .single-price {
color: #faa026;
}
.mod_customcatalogreader.cc_cardealer .single-price strong {
background-color: #faa026;
}
.mod_customcataloglist.cc_cardealer .item-highlight-icon {
background-color: #faa026;
}
.mod_customcataloglist .cc_cardealer_slider .state {
background-color: #faa026;
}
.mod_customcataloglist .cc_cardealer_slider .price strong {
color: #faa026;
}
.ce_linkbox a i {
background-color: #faa026;
}
.ce_fullscreen_gallery.version3 .bold {
background-color: #faa026;
}
form.style2 {
background: #faa026;
}
.ce_linkbox .ce_linkbox_banner {
background-color: #faa026;
}
.custommenu li:hover {
background-color: #faa026;
}
.ce_featured_tab li .ce_headline .headline {
color: #faa026;
}
.ce_featured_tab li.active {
background-color: #faa026;
}
.ce_headerimage.version3 .ce_headline .headline {
background: #faa026;
}
.ce_headerimage.version3 .subline {
background: #faa026;
}
.mod_portfoliolist_v4 .item a:hover {
background: #faa026;
}
.mod_customcatalogteaser.cc_accommodations .entry:hover .item-content {
background: #faa026;
}
.ce_revolutionslider_hyperlink.light {
color: #faa026;
}
.ce_frame_start.style3 .ce_frame_start_inside {
border-color: #faa026;
}
.mod_portfoliolist_teaser_3 .info,
.mod_portfoliolist_teaser_3 .info a {
color: #faa026;
}
.newsteaser_v7:hover h5 {
color: #faa026;
}
.ce_divider_extended.version10 svg {
fill: #faa026;
}
.cd-horizontal-timeline .filling-line {
background-color: #faa026;
}
.cd-horizontal-timeline .events a.older-event::after {
border-color: #faa026;
}
.no-touch .cd-horizontal-timeline .events a:hover::after,
.cd-horizontal-timeline .events a.selected::after {
background-color: #faa026;
border-color: #faa026;
}
.mod_portfoliolist_v7 .comments {
background-color: #faa026;
}
.mod_portfoliolist_v7 .subline {
background-color: #faa026;
}
.mod_portfoliolist_v7 .item:hover .item-bottom a {
color: #faa026;
}
.cd-horizontal-timeline .ce_text em {
color: #faa026;
}
.mod_eventlist_v2 .title a {
color: #faa026;
}
.ce_imagemap .hotspot.small .circle {
box-shadow: 0 0 0 5px #faa026;
}
.ce_pricecard.style2.highlight .ce_pricecard_inside {
background: #faa026;
}
.mod_eventlist_v3 h4,
.mod_eventlist_v3 h4 a {
color: #faa026;
}
.mod_eventlist_v3 .meta-info i {
color: #faa026;
}
.cd-horizontal-timeline time:before,
.cd-horizontal-timeline .location:before {
color: #faa026;
}
.cd-horizontal-timeline .more a {
background: #faa026;
}
body .mainmenu ul li a:hover:before,
body .mainmenu ul li a.trail:before,
body .mainmenu ul li a.active:before {
background-color: #faa026;
}
.ce_popup_start .popup_close {
color: #faa026;
}
.ce_popup_start .ce_popup_content {
border-color: #faa026;
}
.mod_eventlist_v4 i.fa-location-arrow {
background-color: #faa026;
}
.ce_hyperlink_lightbox_video.hyperlink_color_accent svg polygon  {
fill: #faa026;
}
.ce_hyperlink_lightbox_video.hyperlink_color_accent svg circle {
stroke: #faa026;
}
.mod_portfoliolist_demos .item .overlay {
background-color: #faa026;
}
.mod_portfoliolist_demos .item h5:hover {
color: #faa026;
}
.ce_iconbox_v3 .ce_iconbox_v3_inside.bg-accent {
background-color: #faa026;
}
.ce_iconbox_v3 .ce_iconbox_v3_inside.bg-hover-accent:hover {
background-color: #faa026!important;
}
.ce_iconbox_v3 .headline.headline-color-accent {
color: #faa026;
}
.ce_iconbox_v3 .subheadline.subheadline-color-accent {
color: #faa026;
}
.ce_iconbox_v3 .fonticon.fonticon-color-accent {
color: #faa026;
}
.ce_iconbox_v3:hover.text-hover-accent i,
.ce_iconbox_v3:hover.text-hover-accent .headline,
.ce_iconbox_v3:hover.text-hover-accent .subheadline {
color: #faa026!important;
}
.submenu_v2 li a:hover,
.submenu_v2 li a.active {
color: #faa026;
}
.ce_list.list-style2 li.fa:before {
color: #faa026;
}
.ce_list.list-style3 li.fa:before {
color: #faa026;
}
.ce_revolutionslider_hyperlink.text-link:after {
color: #faa026;
}
.ce_download_small .ce_download_small_inside a:after {
color: #faa026;
}
.ce_download_small .ce_download_small_inside a {
border-color: #faa026;
}
.ce_imagemap .circle {
box-shadow: 0 0 0 4px #faa026;
}
.ce_testimonial_version7 .text_inside:before {
background: #faa026;
}
.ce_portfoliofilter.port-filter-style3 a.selected {
border-color: #faa026;
}
form.style8 input.submit[type="submit"],
form.style8 button.submit[type="submit"] {
color: #faa026;
}
.ce_image_text_box .ce_image_text_box_banner {
background: #faa026;
}
.ce_image_text_box.version2 .ce_url a {
color: #faa026;
}
.ce_grid_gallery_start li:hover .linktext {
color: #faa026;
}
.mod_quickmenu.style2 a {
border-color: #faa026;
color: #faa026;
}
.mod_customcataloglist.cc_product_catalog .item-inside:hover {
border-color: #faa026;
}
.mod_customcatalogteaser.cc_product_catalog .item-highlight-icon {
background-color: #faa026;
}
.ce_headline_w_buttons.style1 .buttons a:hover {
background-color: #faa026;
}
.ce_headline_w_buttons.style2 .buttons a.button_one {
border-color: #faa026;
color: #faa026;
}
.ce_headline_w_buttons.style2 .buttons a.button_two {
background-color: #faa026;
border-color: #faa026;
}
.ce_headline_w_buttons.style2 .buttons a.button_one:hover {
background-color: #faa026;
}
.ce_headline_w_buttons.style3 .buttons a.button_one {
border-color: #faa026;
color: #faa026;
}
.ce_headline_w_buttons.style3 .buttons a.button_two {
background-color: #faa026;
border-color: #faa026;
}
.ce_headline_w_buttons.style3 .buttons a.button_one:hover {
background-color: #faa026;
}
.ce_headline_w_buttons.style5 .buttons a.button_one {
border-color: #faa026;
color: #faa026;
}
.ce_headline_w_buttons.style5 .buttons a.button_two {
background-color: #faa026;
border-color: #faa026;
}
.ce_headline_w_buttons.style5 .buttons a.button_one:hover {
background-color: #faa026;
}
.ce_headline_w_buttons.style6 .buttons a.button_one {
border-color: #faa026;
color: #faa026;
}
.ce_headline_w_buttons.style6 .buttons a.button_two {
background-color: #faa026;
border-color: #faa026;
}
.ce_headline_w_buttons.style6 .buttons a.button_one:hover {
background-color: #faa026;
}
.ce_headline_w_buttons.style10 .buttons a:hover {
background-color: #faa026;
}
.ce_featurelist.style1 li i {
color: #faa026;
}
.ce_featurelist.style2 span {
color: #faa026;
}
.ce_featurelist.style2 .icon {
color: #faa026;
}
.ce_featurelist.style2 li a:hover {
background-color: #faa026;
}
.ce_featurelist.style5 li span {
color: #faa026;
}
body .mm-menu a:hover, body .mm-menu a.active, body .mm-menu a.trail,
body .mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
body .mm-menu .mm-listview > li.mm-selected > span,
body .mm-menu .mm-listview > li.trail a {
background-color: #faa026;
}
.header .mainmenu ul li a.highlight span,
.header .mainmenu ul li a.highlight_square_color_accent span,
.header .mainmenu ul li a.highlight-square-color-accent span,
.header .mainmenu ul li a.highlight_rounded_color_accent span,
.header .mainmenu ul li a.highlight-rounded-color-accent span {
background-color: #faa026;
}
.header .mainmenu ul li a.highlight_outline_square_color_accent span,
.header .mainmenu ul li a.highlight-outline-square-color-accent span,
.header .mainmenu ul li a.highlight_outline_rounded_color_accent span,
.header .mainmenu ul li a.highlight-outline-rounded-color-accent span {
box-shadow: 0 0px 0px 2px #faa026;
}
.ce_accordion_v2 .toggler:not(.ui-state-active):hover {
color: #faa026;
}
.ce_accordion_v2 .toggler.ui-state-active {
background: #faa026;
}
.color-second {
color: #55add3;
}
.bg-second {
background-color: #55add3;
}
.ce_bgimage_content_start .bg_overlay.bg-second {
background-color: #55add3;
}
.notelist .submit_container input.submit,
.notelist .submit_container input.submit:hover,
.notelist .submit_container button.submit,
.notelist .submit_container button.submit:hover {
background-color: #55add3;
}
.mod_customcataloglist.cc_cardealer .item-state {
background-color: #55add3;
}
form.style2 input.submit,
form.style2 input.submit[type="submit"]:hover,
form.style2 button.submit,
form.style2 button.submit[type="submit"]:hover {
background-color: #55add3;
}
.ce_hyperlink-extended a.link-sec-color {
border-color: #55add3;
background: #55add3;
}
.ce_hyperlink-extended a.link-sec-color:hover {
color: #55add3;
border-color: #55add3;
}
.ce_hyperlink-extended a.link-sec-color-outline {
color: #55add3;
border-color: #55add3;
}
.ce_hyperlink-extended a.link-sec-color-outline:hover {
background: #55add3;
}
.ce_hyperlink_lightbox_video.hyperlink_color_second svg polygon  {
fill: #55add3;
}
.ce_hyperlink_lightbox_video.hyperlink_color_second svg circle {
stroke: #55add3;
}
.ce_iconbox_v3 .ce_iconbox_v3_inside.bg-second {
background-color: #55add3;
}
.ce_iconbox_v3 .ce_iconbox_v3_inside.bg-hover-second:hover {
background-color: #55add3!important;
}
.ce_iconbox_v3 .headline.headline-color-second {
color: #55add3;
}
.ce_iconbox_v3 .subheadline.subheadline-color-second {
color: #55add3;
}
.ce_iconbox_v3 .fonticon.fonticon-color-second {
color: #55add3;
}
.ce_iconbox_v3:hover.text-hover-second i,
.ce_iconbox_v3:hover.text-hover-second .headline,
.ce_iconbox_v3:hover.text-hover-second .subheadline {
color: #55add3!important;
}
.header .mainmenu ul li a.highlight_color_second span,
.header .mainmenu ul li a.highlight-color-second span,
.header .mainmenu ul li a.highlight_square_color_second span,
.header .mainmenu ul li a.highlight-square-color-second span,
.header .mainmenu ul li a.highlight_rounded_color_second span,
.header .mainmenu ul li a.highlight-rounded-color-second span {
background: #55add3;
}
.header .mainmenu ul li a.highlight_outline_square_color_second span,
.header .mainmenu ul li a.highlight-outline-square-color-second span,
.header .mainmenu ul li a.highlight_outline_rounded_color_second span,
.header .mainmenu ul li a.highlight-outline-rounded-color-second span {
box-shadow: 0 0px 0px 2px #55add3;
}
.ce_revolutionslider_hyperlink.color-second {
background: #55add3;
border-color: #55add3;
color: #fff;
}
.header.original .mainmenu ul li a.trail,
.header.original .mainmenu ul li a.active,
.header.cloned .mainmenu ul li a.trail,
.header.cloned .mainmenu ul li a.active {
color: #ffffff;
}
.header .mainmenu ul li a:hover  {
color: #61aadc;
}
#top {
display: none;
}
#top .mod_login_top {
display: none;
}
#top .offcanvas-trigger {
display: none;
}
#top,
#top .mod_socials a i {
color: #ffffff;
}
#top a,
#top .mod_top_mail a {
color: #ffffff;
}
#top,
#top .inside {
background-color: #f67936;
}
html, body  {
font-family: Roboto;
font-weight: 400;
}
h1, h2, h3, h4, h5, h6,
.ce_revolutionslider_text.bold,
.font_headline {
font-family: Roboto;
font-weight: 400;
}
#wrapper {
margin-top: -150px;
}
.autogrid_wrapper {
margin-left: -15px;
margin-right: -15px;
}
.autogrid {
padding-left: 15px;
padding-right: 15px;
}
.autogrid_wrapper.article .inner {
margin-left: -15px;
margin-right: -15px;
}
#footer {
background-color: #2a69b0;
}
#bottom {
background-color: #235a99;
}
.header .mod_langswitcher {
display: none;
}
@media only screen and (min-width: 768px) {
.header.original {
line-height: 60px!important;
}
.header.original .mainmenu {
float: left;
}
.header.original .logo {
float: none;
}
.header.original .mainmenu ul {
text-align: left;
}
.header.original .header_metanavi {
position: absolute;
right: 40px;
top: 20px;
display: block;
}
.header.original .header_metanavi a {
margin-right: 20px;
}
.header.original .header_metanavi a.last {
margin-right: 0;
}
.header.original .mainmenu:before {
content: '';
height: 1px;
position: absolute;
left: 40px;
bottom: 60px;
right: 40px;
background: rgb(0,0,0);
opacity: 0.15;
}
.header.original .smartmenu {
float: left;
margin-left: 0;
}
.header.original .smartmenu .smartmenu-trigger {
height: 60px;
}
.header.original {
float: left;
}
.mod_breadcrumb .mod_breadcrumb_inside:before,
.mod_breadcrumb .mod_breadcrumb_inside:after {
display: block;
}
.mod_breadcrumb {
border: 0;
}
#top .inside {
background: none!important;
}
}
.header {
background-color: #ffffff;
}
.header {
background-color: #2a69b0;
}
.header .mainmenu ul li a,
.header .mainmenu ul li ul a.active,
.header .ce_search_label i,
.header .mod_langswitcher .mod_langswitcher_inside,
.header .header_metanavi a,
.header .mod_socials a {
color: #ffffff;
}
.mod_langswitcher .mod_langswitcher_inside:before {
border-color: #ffffff;
}
.header .mod_socials:before {
border-color: #ffffff;
}
.header .smartmenu .smartmenu-trigger .line,
.header .smartmenu .smartmenu-trigger .line:before,
.header .smartmenu .smartmenu-trigger .line:after {
background: #ffffff;
}
.header.original .mainmenu:before,
.header.original .mainmenu:after {
background: #ffffff;
}
.logo a {
background-image: url(../uploads/logo-01.png);
}
.header.cloned .logo a {
background-image: url(../uploads/logo-small-01.png);
}
@media only screen and (min-width: 768px) {
.header.original .logo {
width: 350px;
}
}
@media only screen and (min-width: 768px) {
.header.cloned .logo {
width: 35px;
}
}
.header .mainmenu ul li a:hover  {
color: #faa026;
}
.mainmenu ul li a {
text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 1110px) {
.smartmenu {
display: block;
}
.mainmenu {
display: none;
}
}
.header .mainmenu ul li a.trail,
.header .mainmenu ul li a.active {
background: #faa026;
padding-left: 15px;
padding-right: 15px;
}
.mainmenu ul ul {
background-color: #235a99}
nav.mainmenu a.menuheader {
background-color: #235a99!important;
}
.mainmenu ul .megamenu-wrapper ul ul {
background: none;
}
