/*!
 * This file is part of Contao.
 *
 * (c) Leo Feyer
 *
 * @license LGPL-3.0-or-later
 */

/* HTML */
html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
}

/* General */
body,button,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,figure,form,fieldset,legend,p,blockquote,table {
	margin:0;
	padding:0;
}
img {
	border:0;
}
ul,li {
	list-style:none;
}
table {
	border-spacing:0;
	border-collapse:collapse;
	empty-cells:show;
}
th,td {
	padding:0;
	text-align:left;
}
input,select,button,label,img,a.tl_submit,.tl_select {
	vertical-align:middle;
}
button {
	cursor:pointer;
}

/* Font */
body {
	font:.875rem/1 Lato,sans-serif;
	color:#222;
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
	body {
		font-family:"Lato Retina",Lato,sans-serif;
	}
}
pre,code,.tl_textarea.monospace {
	font:300 .75rem/1.25 "Roboto Mono",monospace;
}
h1,h2,h3,h4,h5,h6 {
	font-size:1rem;
	font-weight:bold;
}
input,textarea,select,button {
	font:inherit;
	color:inherit;
	line-height:inherit;
}
input {
	line-height:normal; /* see #501 */
}
strong,b,th {
	font-weight:bold;
}
.tl_gray {
	color:#999;
}
.tl_green {
	color:#589b0e;
}
.tl_red {
	color:#c33;
}
.tl_blue {
	color:#006494;
}
.tl_orange {
	color:#f90;
}
span.mandatory {
	color:#c33;
}

/* Basic elements */
a {
	color:#222;
	text-decoration:none;
}
a:hover,a:active {
	color:#006494;
}
hr {
	height:1px;
	margin:18px 0;
	border:0;
	background:#ddd;
	color:#ddd;
}
p {
	margin-bottom:1em;
	padding:0;
}
.hidden {
	display:none;
}
.unselectable {
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-touch-callout:none;
}

/* Invisible elements */
.clear {
	clear:both;
	height:0.1px;
	line-height:0.1px;
	font-size:0.1px;
}
.cf:before,.cf:after {
	content:" ";
	display:table;
}
.cf:after {
	clear:both;
}
.invisible {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}

/* Widgets */
.widget {
	margin-left:15px;
	margin-right:15px;
	position:relative;
}
.widget {
	font-size:0;
}
.widget * {
	font-size:.875rem;
}
.widget > div {
	font-size:0;
}
.widget > div > * {
	font-size:.875rem;
}
.widget h3 {
	min-height:16px;
}
.widget h3 label,.widget h3 img {
	margin-right:3px;
}
.widget legend img {
	vertical-align:-3px;
}
.widget-captcha {
	display:initial !important;
}
.widget .mce-tinymce {
	margin:3px 0;
}

/* Forms */
optgroup {
	padding-top:3px;
	padding-bottom:3px;
	font-style:normal;
	background:#fff;
}
fieldset.tl_checkbox_container,fieldset.tl_radio_container {
	border:0;
	margin:15px 0 1px;
	padding:0;
}
fieldset.tl_checkbox_container {
	line-height:15px;
}
fieldset.tl_radio_container {
	line-height:16px;
}
fieldset.tl_checkbox_container legend,fieldset.tl_radio_container legend {
	font-weight:bold;
}
fieldset.checkbox_container,fieldset.radio_container {
	border:0;
	margin:0;
	padding:0;
}

/* Text fields */
.tl_text {
	width:100%;
}
.tl_text_2,.tl_text_interval {
	width:49%;
}
.tl_text_3 {
	width:32.333%;
}
.tl_text_4 {
	width:24%;
}
.tl_textarea {
	width:100%;
}
.tl_text_unit {
	width:79%;
}
.tl_text_trbl {
	width:19%;
}
.tl_text,.tl_text_2,.tl_text_3,.tl_text_4,.tl_textarea,.tl_text_unit,.tl_text_trbl,.tl_text_interval {
	height:30px;
	margin:3px 0;
	box-sizing:border-box;
	padding:5px 6px 6px;
	border:1px solid #aaa;
	border-radius:2px;
	background-color:#fff;
	-moz-appearance:none;
	-webkit-appearance:none;
}
.tl_text[disabled],.tl_text_2[disabled],.tl_text_3[disabled],.tl_text_4[disabled],.tl_textarea[disabled],.tl_text_unit[disabled],.tl_text_trbl[disabled],.tl_text_interval[disabled],
.tl_text[readonly],.tl_text_2[readonly],.tl_text_3[readonly],.tl_text_4[readonly],.tl_textarea[readonly],.tl_text_unit[readonly],.tl_text_trbl[readonly],.tl_text_interval[readonly] {
	color:#bbb;
	background-color:#f9f9f9;
	border:1px solid #c8c8c8;
	cursor:not-allowed;
}
.tl_textarea {
	height:240px;
	padding-top:7px;
	padding-bottom:5px;
}
.tl_text_2,.tl_text_3,.tl_text_4,.tl_text_unit,.tl_text_trbl,.tl_text_interval {
	margin-right:1%;
}
.tl_text_2:last-child,.tl_text_3:last-child,.tl_text_4:last-child,.tl_text_trbl:last-child {
	margin-right:0;
}
.tl_imageSize_0 {
	margin-left:1%;
}
input[type="search"] {
	height:26px;
	padding-top:0;
	padding-bottom:2px;
}
input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none;
}
@-moz-document url-prefix() {
	.tl_text::placeholder,.tl_text_2::placeholder,.tl_text_3::placeholder,.tl_text_4::placeholder,.tl_textarea::placeholder,.tl_text_unit::placeholder,.tl_text_trbl::placeholder,.tl_text_interval::placeholder {
		line-height:18px;
	}
}
@media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) {
	.tl_text::placeholder,.tl_text_2::placeholder,.tl_text_3::placeholder,.tl_text_4::placeholder,.tl_textarea::placeholder,.tl_text_unit::placeholder,.tl_text_trbl::placeholder,.tl_text_interval::placeholder {
		line-height:16px;
	}
	input[type=search] {
		padding-right:0;
	}
}}

/* Select menus */
select {
	text-transform:none;
	line-height:normal;
	-moz-appearance:none;
	-webkit-appearance:none;
}
select::-ms-expand {
	display:none;
}
select[multiple] {
	height:auto;
}
.tl_select,.tl_mselect,.tl_select_column {
	width:100%;
}
.tl_select_unit {
	width:20%;
}
.tl_select_interval {
	width:50%;
}
.tl_select,.tl_mselect,.tl_select_column,.tl_select_unit,.tl_select_interval {
	height:30px;
	margin:3px 0;
	box-sizing:border-box;
	border:1px solid #aaa;
	padding:5px 22px 6px 6px;
	border-radius:2px;
	background:#fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDUwMCA1MDAiPjxsaW5lYXJHcmFkaWVudCBpZD0iYSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMzEuNTIzIiB5MT0iNDIuNjMiIHgyPSIzNjguNDc4IiB5Mj0iMjc5LjU4NCI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjYjNiM2IzIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjOTk5Ii8+PC9saW5lYXJHcmFkaWVudD48cGF0aCBmaWxsPSJ1cmwoI2EpIiBkPSJNMjUwIDM5Ni42NjZjLTEuMTU1IDAtNC4xMS0xLjgzMi03LjExMy02Ljc1bC0xNjkuNi0yNzcuNDU1Yy0yLjUxNy00LjExNC0zLjE5LTYuOTgtMy4yOC04LjMxNC44MjctLjMzIDIuNTY1LS44MTIgNS42MjctLjgxMmgzNDguNzMzYzMuMDYzIDAgNC43OTguNDgyIDUuNjI3LjgxMi0uMDkgMS4zMzQtLjc2NiA0LjItMy4yOCA4LjMxNWwtMTY5LjYgMjc3LjQ1N2MtMy4wMDUgNC45MTctNS45NiA2Ljc1LTcuMTE0IDYuNzV6Ii8+PC9zdmc+") right -16px center no-repeat;
	background-origin:content-box;
	cursor:pointer;
}
.tl_select[disabled],.tl_mselect[disabled],.tl_select_column[disabled],.tl_select_unit[disabled],.tl_select_interval[disabled],
.tl_select[readonly],.tl_mselect[readonly],.tl_select_column[readonly],.tl_select_unit[readonly],.tl_select_interval[readonly] {
	color:#bbb;
	background-color:#f9f9f9;
	border:1px solid #c8c8c8;
	cursor:not-allowed;
}
.tl_select[multiple],.tl_mselect[multiple],.tl_select_column[multiple],.tl_select_unit[multiple],.tl_select_interval[multiple] {
	background-image:none;
}
@-moz-document url-prefix() {
	.tl_select,.tl_mselect,.tl_select_column,.tl_select_unit,.tl_select_interval {
		padding-left:2px;
	}
}

/* Checkboxes */
.tl_checkbox {
	margin:0 1px 0 0;
}
.tl_tree_checkbox {
	margin:1px 1px 1px 0;
}
.tl_checkbox_single_container {
	margin:16px 0 1px;
}
.tl_checkbox_single_container label {
	margin-left:4px;
	font-weight:bold;
}

/* Grouped checkboxes */
.checkbox_toggler {
	font-weight:bold;
}
.checkbox_toggler_first {
	margin-top:3px;
	font-weight:bold;
}
.checkbox_toggler img,.checkbox_toggler_first img {
	position:relative;
	top:-1px;
	margin-right:2px;
}
.checkbox_options {
	margin:0 0 6px 21px !important;
}
.tl_checkbox_container .checkbox_options:last-of-type {
	margin-bottom:0 !important;
}

/* Radio buttons */
.tl_radio {
	margin:0 1px 0 0;
}
.win .tl_radio {
	margin:1px 1px 3px 0; /* see #4599 */
}
.tl_tree_radio {
	margin:1px 1px 1px 0;
}

/* Radio table */
.tl_radio_table {
	margin-top:3px;
}
.tl_radio_table td {
	padding:0 24px 0 0;
}

/* Upload fields */
.tl_upload_field {
	margin:1px 0;
}

/* Submit buttons */
.tl_submit {
	height:30px;
	padding:7px 12px;
	border:1px solid #aaa;
	border-radius:2px;
	box-sizing:border-box;
	cursor:pointer;
	background:#eee;
	transition:background .2s ease;
}
.tl_panel .tl_submit,.tl_version_panel .tl_submit,.tl_formbody_submit .tl_submit {
	background:#fff;
}
.tl_submit:hover {
	color:inherit;
	background-color:#f6f6f6;
}
.tl_submit:active {
	color:#aaa;
}
.tl_submit:disabled {
	cursor:default;
	background:#e9e9e9;
	color:#999;
}
a.tl_submit {
	display:inline-block;
}

/* Split buttons */
.split-button {
	display:inline-block;
	position:relative;
	z-index:1;
	margin-left:1px;
}
.split-button ul {
	position:absolute;
	right:0;
	bottom:20px;
	min-width:100%;
	background:#fff;
	border:1px solid #aaa;
	border-radius:2px;
	box-sizing:border-box;
	padding:3px 0;
	margin-bottom:1em;
}
.split-button ul button {
	border:0;
	width:100%;
	text-align:left;
	white-space:nowrap;
}
.split-button ul .tl_submit {
	margin-top:0;
	margin-bottom:0;
	background:#fff;
}
.split-button ul .tl_submit:hover {
	background:#f3f3f3;
}
.split-button ul:before {
	content:"";
	display:block;
	height:0;
	width:0;
	position:absolute;
	right:4px;
	bottom:-12px;
	z-index:89;
	border:6px inset transparent;
	border-top:6px solid #fff;
}
.split-button ul:after {
	content:"";
	display:block;
	height:0;
	width:0;
	position:absolute;
	right:3px;
	bottom:-14px;
	z-index:88;
	border:7px inset transparent;
	border-top:7px solid #aaa;
}
.split-button button img {
	vertical-align:0;
}
.split-button > button[type="submit"] {
	position:relative;
	border-radius:2px 0 0 2px;
}
.split-button > button[type="button"] {
	padding:7px 4px;
	background:#fff;
	border:1px solid #aaa;
	border-left:0;
	border-radius:0 2px 2px 0;
	box-sizing:border-box;
	transition:background .2s ease;
}
.split-button > button[type="button"].active,.split-button > button[type="button"]:hover {
	background:#f6f6f6;
}
.split-button > button[type="button"]:focus {
	outline:none;
}

/* Placeholders */
::-moz-placeholder {
	padding-top:1px;
}
::-webkit-input-placeholder {
	padding-top:1px;
}

/* Floats */
.clr {
	clear:both;
	width:calc(100% - 30px);
}
.clr:not(.widget) {
	width:100%;
}
.clr:before {
	content:"";
	display:table;
}
.w50 {
	width:calc(50% - 30px);
	float:left;
	min-height:80px;
}
.long {
	width:calc(100% - 30px); /* see #6320 */
}
.wizard > a {
	vertical-align:middle;
}
.wizard .tl_text,.wizard .tl_select {
	width:90%;
}
.wizard .tl_text_2 {
	width:45%;
}
.wizard img {
	margin-left:4px;
}
.long .tl_text,.long .tl_select {
	width:100%;
}
.m12 {
	margin:0 15px;
	padding:17px 0;
}
.cbx {
	min-height:46px;
}
.cbx.m12 {
	min-height:80px;
	box-sizing: border-box;
}
.subpal {
	clear:both;
}
.inline div {
	display:inline;
}
.autoheight {
	height:auto;
}

/* Tips */
.tl_tip {
	height:14px;
	overflow:hidden;
	cursor:help;
}
.tip-wrap {
	z-index:99;
}
.tip {
	max-width:320px;
	padding:6px 9px;
	border-radius:2px;
	background:#333;
}
.tip div {
	line-height:1.3;
}
.tip div,.tip a {
	color:#fff;
}
.tip-top {
	height:6px;
	position:absolute;
	top:-13px;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid #333;
}

/* Row highlighting */
.hover-div:hover,.hover-row:hover td,.hover-div:hover .limit_toggler,.hover-row:hover .limit_toggler {
	background-color:#fffce1 !important;
}

/* Handheld */
@media (max-width:767px) {
	.w50 {
		float:none;
		width:calc(100% - 30px);
	}
	.cbx {
		min-height:32px;
	}
	.tip {
		max-width:80vw;
	}
	.tl_checkbox_container .tl_checkbox {
		margin-top:1px;
		margin-bottom:1px;
	}
	.tl_checkbox_single_container label {
		position:relative;
		top:1px;
	}
}
