/*!
 * This file is part of Contao.
 *
 * (c) Leo Feyer
 *
 * @license LGPL-3.0-or-later
 */

/* Body */
body {
	background:#eaeaec url("icons/contao.svg") center 4.5em no-repeat;
}

/* Container */
#container {
	margin:15em 10px 0;
}
#main {
	max-width:350px;
	margin:0 auto;
	background:#fff;
	border-radius:2px;
}

/* Headlines */
#container h1 {
	margin-bottom:1em;
}

/* JS warning */
#javascript {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	padding:9px;
	background:#fff;
	text-align:center;
}
.js #javascript {
	display:none;
}

/* Login form */
.formbody {
	padding:45px;
}
.widget {
	margin:0;
}
.tl_text {
	padding-right:24px;
}
.submit_container {
	margin-top:9px;
}
.submit_container a {
	float:right;
	margin-top:8px;
}
.submit_container a:hover {
	color:#006494;
}
label[for="username"] {
	position:absolute;
	top:9px;
	right:6px;
	background:url("icons/person.svg") left top no-repeat;
	background-size:16px;
	width:16px;
	height:16px;
	text-indent:-999em;
	z-index:1;
}
label[for="password"],label[for="confirm"] {
	position:absolute;
	top:10px;
	right:7px;
	background:url("icons/lock-locked.svg") left top no-repeat;
	background-size:14px;
	width:14px;
	height:14px;
	text-indent:-999em;
	z-index:1;
}

/* Error messages */
.tl_message {
	max-width:500px;
	margin:36px auto 0;
	text-align:center;
}
.tl_error,.tl_info,.tl_confirm {
	padding:3px 0;
	line-height:1.5;
	font-size:1rem;
}
.tl_error {
	color:#c33;
}
.tl_info {
	color:#006494;
}
.tl_confirm {
	color:#589b0e;
}
