
.iconpicker {max-width: 741px; margin: 0 auto;}
.iconpicker.tableless ul li {display: inline; float: left; min-width: 80px; height: 80px; margin: 0 2px;}

.iconpicker table {max-width: inherit; width: 100%;  margin: 0 auto;}
.iconpicker table thead {display: table-header-group;}
.iconpicker h2 {font-size: 1.25em;}
.iconpicker table tr {border-bottom: 1px solid #f2f2f2;}
.iconpicker table td {min-width: 120px; padding: 5px;}
.iconpicker .iconbox {text-align: center; display: block;}
.iconpicker .iconbox .icon {font-size: 200%; margin: 0 !important;}
.iconpicker .iconbox .name, .iconpicker .iconbox .label {font-size: 1.25em; padding: 1px 0;}
.iconpicker .iconbox input {margin-left: 0; margin-right: 0; font-size: 1em;}
.iconpicker .iconbox .radio_container {text-align: center}

.iconpicker.contao-ht35 {max-width: none; margin-left: 15px;}
.iconpicker.contao-ht35 img {margin-top: 5px;}

.pct_iconpicker_widget.contao-ht35 img {vertical-align: inherit !important;}
.pct_iconpicker_widget .icon {margin-left: 2px; top:5px; position: relative;}

/** backend **/
.tl_box [class^="icon-"]:before, .tl_box  [class*=" icon-"]:before {position: absolute; font-size: 130%;}
table.icon-list:before {display:none}

