body {
    background: url('background.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    -webkit-box-shadow:  0px 1px 5px 0 #5a5a5a;
    -moz-box-shadow:     0px 1px 5px 0 #5a5a5a;
    box-shadow:          0px 1px 5px 0 #5a5a5a;
}

.tl_login_form::after {
    content: "Designed by Mertens Media";
    display: block;
    text-align: center;
    color: #6c6c6c;
    font-weight: bold;
    margin-top: -10px;
    padding-bottom: 30px;
}

.tl_login_form {
   position: relative;
}

.tl_login_form::before {
    content: url('contao.svg');
    position: absolute;
    top: -110px;
    left: 50%;
    margin-left: -50px;
}
