body {
	height: 3999px;
	background-image: url("https://pagery.de/project-3738/test/pdf/dompdf-0.5.1/01/rechnung_exported.png");
	font-family: verdana, sans-serif;
	font-size: 14px;
	color: #B5B5B5;
}

#recipient {
	position: absolute;
	top: 640px;
	left: 108px;
}
