input {
	width: 30%;
	border: 1px solid #ddd !important;
	font-family: verdana, sans-serif;
	font-size: 1.0em;
	padding: 2px 3px 2px 3px;
	margin-right: 10px;
}

textarea {
	border: 1px solid #ddd;
}

.submit {
/* 	color: #ddd !important; */
}

#IDsearchWords {

}

#right2 {
	width: 295px;
	/*padding: 0 15px 10px 15px;*/
	padding-left: 15px;
}

#right2 h2{
	padding-bottom: 10px;
}

#right2 a {
	margin: 10px 0 0px 0;
}

#right2 p {
	border-bottom: 1px dotted #ddd;
	padding: 5px 0 5px 0 ;
	margin: 0 0 10px 0;
}

#notes textarea {
	height: 30px;
}

#jsMenu,
#yesNoMenu {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#jsMenu li {
	float: left;
	padding-right: 2px;
}

#jsMenu a {
	width: 100px;
	padding: 2px 0 0 10px;
	display: block;
	background-color: #ccc;
	height: 18px;
	color: white;
}

#jsMenu li.active a {
	background-color: #ff6600;
}

#jsMenu a:hover {
	background-color: #bbb;
}


#yesNoMenu li {
	float: left;
	padding-right: 2px;
}

#yesNoMenu a {
	width: 100px;
	padding: 2px 0 0 10px;
	display: block;
	background-color: #ccc;
	height: 18px;
	color: white;
}


#yesNoMenu li.yes a {
	background-color: #ff6600;
}

#yesNoMenu li.yes a:hover {
	background-color: #FF9A57;
}

#yesNoMenu li.no a {
	background-color: #0067B6;
}

#yesNoMenu li.no a:hover {
	background-color: #0081EC;
}

#content img {
	border: 0;
	padding: 0;
}
