/* FORMENGINE */

fieldset {
	width: 680px;
	padding: 10px 0px 10px 10px;
	background-color: #FaFaFa;
	border: 1px dotted #666;
	margin: 20px 0px 20px 0px;
}

fieldset legend {
	font-weight: bold;
	color: #666;
}

fieldset label {
	vertical-align: top;
}

fieldset .entry,
fieldset .entry-vertical  {
	padding-top: 10px;
}

fieldset .entry .label {
	float: left;
	padding-top: 5px;
	width: 400px;
	vertical-align: top;
}

fieldset .entry-vertical .label {
	padding: 10px 0 5px 0;
}

fieldset .entry .input {
	float: left;
	width: 250px;
}

fieldset .entry .entryEnd {
	clear: left;
}

fieldset input,
fieldset select {
	width: 30%;
	border: 1px solid #bbb;
	font-family: verdana, sans-serif;
	font-size: 1.0em;
	padding: 2px 3px 2px 3px;
	margin-right: 10px;
}

textarea {
	width: 99%;
	height: 60px;
	border: 1px solid #bbb;
	font-family: verdana, sans-serif;
	font-size: 1.0em;
	padding: 5px 3px 5px 3px;
	margin-right: 10px;
	color: #333;
}

fieldset .entry-vertical textarea {
	height: 300px;
}

textarea.mediumhigh {
	height: 100px !important;
}

fieldset input.checkbox {
	width: 15px;
	height: 15px;
	background-color: white;
	border: 1px solid #bbb;
}

fieldset input.readonly {
	background-color: #ededed;
}

fieldset input.radio {
	width: 15px;
	height: 15px;
	background-color: white;
	border: 0;
}

form .submit2 {
	border: 1px solid #999;
	background-color: white;
	width: auto;
	font-family: verdana, sans-serif;
	margin-left: 31px;
}

form .submit3 {
	margin-top: 10px;
	border: 1px solid #999;
	background-color: white;
	font-family: verdana, sans-serif;

}

fieldset .entry .fillMe {
	border: 1px solid #FF6600 !important;
}

fieldset .entry .dateDay,
fieldset .entry .dateMonth {
	width: 50px;
}

fieldset .entry .dateYear {
	width: 75px;
}

fieldset .help {
	clear: left;
}
fieldset .helpText {
}

fieldset .helpLabel {
	cursor: pointer;
}

fieldset .radioItem {
 	display: block;
}
