
body {
	margin: 0;
	padding: 0 0 0 60px;
	background-color: #ececec;
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	color: #555;
}


a {
	color: #0067B6;
	text-decoration: none;
}

a:hover {
	color: #A4BCDE;
}

img { border: 0px; }
.clearLeft { clear: left; height: 1px; font-size: 1px; }
.clearRight { clear: right; height: 1px; font-size: 1px; }
.clearBoth { clear: both; height: 1px; font-size: 1px; }
.floatLeft { float: left; height: 1px; font-size: 1px; }
.floatRight { float: right; height: 1px; font-size: 1px; }
.highlight { font-weight: bold; color: #0067B6; }

#container {
	padding: 0px 0 0 0px;
	width: 850px;
}

#header {
	visibility: hidden;
	display: none;
}

#logo {
	visibility: hidden;
	display: none;
}


#main {
	margin-top: 0px;
	padding: 0px 0 0px 0;
	background-color: white;
	min-height: 500px;
}

#content {
	float: left;
	width: 500px;
/* 	padding: 0px 0 15px 15px; */
}

#sidebar {
	visibility: hidden;
	display: none;
}

#jsMenu {
	visibility: hidden;
	display: none;
}

h1 {
	padding: 0px 0px 0 0px;
	margin: 0;
	color: #797979;
	font-size: 1.5em;
	font-weight: normal;
}

h2 {
	color: #777;
	padding: 20px 0 0px 0;
	margin: 5px 0 0px 0;
	font-size: 1.1em;
	font-weight: bold;
}

h3 {
	color: #0067B6;
	padding: 10px 0 0px 0;
	margin: 5px 0 0px 0;
	font-size: 1.1em;
	font-weight: normal;
}

#content img {
	border: 1px solid #e1e1e1;
	padding: 2px;
}


p {
	line-height: 1.35em;
	padding: 0 75px 0 0;
	margin: 15px 0 0px 0;
}


#content .articleCapTexPicSmall {
	border: 1px solid red;
}
#content .articleCapTexPicSmall p,
#content .articleCapTexPicMini p {
	padding-right: 0;
}

#content .articleCapTexPicSmall .text {
	width: 200px;
	float: left;
}

#content .articleCapTexPicMini .text {
	width: 350px;
	float: left;
}

#content .articleCapTexPicSmall .pic {
	padding-top: 15px;
	width: 250px;
	float: right;
}

#content .articleCapTexPicMini .pic {
	padding-top: 15px;
	width: 100px;
	float: right;
}

#content .special {
/* 	border: 1px solid #FF6600; */
}

#content .special p {
	padding: 3px;
	color: #FF6600;
	font-weight: bold;
}

#content .failure p {
	padding: 3px;
	color: #FF6600;
	font-weight: bold;
}

#content ul li,
#content ol li {
	margin: 8px 0 8px 0;
	line-height: 1.35em;
}


#footer {
	visibility: hidden;
	display: none;
}


/* ORDER FORM */

fieldset {
	/*width: 480px;*/
	padding: 10px 0px 10px 10px;
	background-color: #FaFaFa;
	border: 1px dotted #666;
	margin: 20px 0px 20px 0px;
}

fieldset legend {
	font-weight: bold;
	color: #666;
}

fieldset label {
	vertical-align: top;
}

fieldset .entry,
fieldset .entry-vertical  {
	padding-top: 10px;
}

fieldset .entry .label {
	float: left;
	padding-top: 5px;
	width: 200px;
	vertical-align: top;
}

fieldset .entry-vertical .label {
	padding: 10px 0 5px 0;
}

fieldset .entry .input {
	float: left;
	width: 250px;
/* 	border: 1px solid red; */
}

fieldset .entry .entryEnd {
	clear: left;
}

fieldset input,
fieldset select {
	width: 30%;
	border: 1px solid #bbb;
	font-family: verdana, sans-serif;
	font-size: 1.0em;
	padding: 2px 3px 2px 3px;
	margin-right: 10px;
}

textarea {
	width: 99%;
	height: 60px;
	border: 1px solid #bbb;
	font-family: verdana, sans-serif;
	font-size: 1.0em;
	padding: 5px 3px 5px 3px;
	margin-right: 10px;
	color: #333;
}

fieldset .entry-vertical textarea {
	height: 300px;
}

textarea.mediumhigh {
	height: 100px !important;
}

fieldset input.checkbox {
	width: 15px;
	height: 15px;
	background-color: white;
	border: 1px solid #bbb;
}

fieldset input.readonly {
	background-color: #ededed;
}

fieldset input.radio {
	width: 15px;
	height: 15px;
	background-color: white;
	border: 0;
}

form .submit2 {
	/* submit after all field sets */
	border: 1px solid #999;
	background-color: white;
	width: auto;
	font-family: verdana, sans-serif;
	margin-left: 31px;
}

form .submit3 {
	/* submit integrated in field set */
	margin-top: 10px;
	border: 1px solid #999;
	background-color: white;
	font-family: verdana, sans-serif;
}

fieldset .entry .fillMe {
	border: 1px solid #FF6600 !important;
}

fieldset .entry .dateDay,
fieldset .entry .dateMonth {
	width: 50px;
}

fieldset .entry .dateYear {
	width: 75px;
}

/* CONTACT FORM */

#form_mail { width: 475px; border-top: 1px solid #dfdfdf; margin-top: 20px; }
#form_mail .row { clear: both; padding: 15px 0 10px 0; }
#form_mail .row .col1 { width: 170px; float: left; padding-top: 5px;}
#form_mail .row .col2, #form_mail .row .col2b  { width: 212px; float: right; }
#form_mail .row textarea, #form_mail .row input, #form_mail .row select {
	width: 100%;
	border: 1px solid #dfdfdf;
	color: #666666;
	font-family: arial, sans-serif;
	font-size: 1.0em;
	background-color: white;
}
#form_mail .row .col2b input { width: 80px;  border: 1px solid #dfdfdf; }
#form_mail .row textarea { height: 150px; }
#form_mail .submit { background-color: white; border: 1px solid #dfdfdf; }
#form_mail .fill_me {
	visibility: hidden;
	display: none;
}

/* Hash Image */

.hashimage {
	vertical-align: top;
	margin-top: -2px;
	border: 0 !important;
}

.hashLink {
	padding:0 !important;
	border: 0 !important;
	margin: 0 !important;
}

/* table */
div.table h2,
div.easyTable h2
{
	font-weight: bold;
}

div.table h3,
div.easyTable h3
{
	margin-bottom: 5px;
}

div.table {
	padding: 10px 10px 0 0;
}

div.table .row {
	padding: 7px 0 2px 0;
	border-bottom: 1px dotted #ddd;
}

div.table .row p {
	margin: 0 !important;
	padding: 0 !important;
}

div.table .row .col1 {
	float: left;
	width: 50%;
}

div.table .row .col2 {
	float: left;
	width: 50%;
}

div.table .row .col1b {
	float: left;
	width: 70%;
	padding-right: 10%;
}

div.table .row .col2b {
	float: left;
	width: 20%;
}

div.table .row a {
	padding-left: 10px;
}

div.table .row .rowEnd {
	clear: left;
}