
li.open, li.open a
{
	color: #090;
}
li.open a:hover
{
	color: #2e2;
}

li.printed, li.printed a
{
	color: yellow;
	font-weight: bold;
	font-style: italic;
}
li.notcounted, li.notcounted a
{
	color: grey;
}
li.notcounted a:hover
{
	color: #eee;
}
select {
	font-family: Verdana, sans-serif;
	/* font-size: 0.8em; */
	/*background-color: #fafafa;*/
	border: 1px solid #377596;
}
select#IDIdt, select#IDIdtNotPossible {
	min-width: 330px !important; /* IE8 FIX - Inhalt auf kleinem Monitor sonst abgeschnitten */
}

#gothaer-station {
	display: inline-block;
	left: 25px;
	position: relative;
}

#gothaer-station>form {
	display: contents;
}


form #complete {
	margin-top: 26px;
	margin-left: 26px;
}

#antragserinnerung>h2 {
	cursor:pointer;
}
#hid {
	display:none;
}
div.newContracts div.label {
	margin: 10px 0;
}

div#zahn_graph {
	position: relative;
	left: -15px;
}

#left ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#left ul>li
{
	font-size:85%;
	display: inline-block;
}

#left ul>li.bold
{
	font-weight:bold;
}
#left
{
	float:left;
}

#date
{
	margin-left: 50px;
	float:left;
	font-size:85%;
	display: inline-block;
}


#search>form>input,
#date>form>input
{
	margin: 0 2px;
	display: inline-block;
}
#search
{
	margin: 0;
	float:right;
}
#clear
{
	clear:both;
}


