body {
	margin: 0;
	padding: 0 0 40px 0;
	background-color: #ececec;
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	color: #333;
}


a {
	color: #0067B6;
	text-decoration: none;
}

a:hover {
	color: #A4BCDE;
}

a.showHide:hover {
	cursor: pointer;
}

img { border: 0px; }
.clearLeft { clear: left; height: 1px; font-size: 1px; }
.clearRight { clear: right; height: 1px; font-size: 1px; }
.clearBoth { clear: both; height: 1px; font-size: 1px; }
.floatLeft { float: left; height: 1px; font-size: 1px; }
.floatRight { float: right; height: 1px; font-size: 1px; }
.highlight { font-weight: bold; color: #0067B6; }

.grey {
	color: #999;
}

#container {
	padding: 0px 0 0 0px;
/* 	width: 850px; */
}

#header {
	padding: 15px 0 15px 15px;
}

#main {
	margin-top: 0px;
	padding: 0px 0 0px 0;
	background-color: white;
 	min-height: 500px;
}

#content {
/* 	float: left;	 */
	padding: 0px 0 15px 15px;
}

#sidebar {
	width: 333px;
	float: right;
	margin: -17px 0 0 0;
}

#hiddenForwarder {
	padding: 50px 50px;
	display: none;
}

#hiddenForwarder a {
	font-size: 1.2em;
}

.menuBox {
	width: 332px;
}

.menuBox .left,
.menuBox .right {
	float: left;
	width: 165px;
}

.menuBox .right {
	margin-left: 2px;
}

.menuBox a {
	width: 155px;
	height: 18px;
	margin-bottom: 0px;
	display: block;
	color: white;
	letter-spacing: 0px;
}


#menu .menuBox .left li a {
	background-image: url("../images/menuLeftNoactive.png");
	background-repeat: no-repeat;
 	padding: 2px 10px 0 0;
	text-align: right;
/* 	color: #FFE0CC; */
}

#menu .menuBox .left li.active a {
	background-image: url("../images/menuLeftActive.png");
}

#menu .menuBox .left a:hover {
	background-image: url("../images/menuLeftHover.png");
	color: white;
}

#menu .menuBox .right li a {
	background-image: url("../images/menuRightNoactive.png");
	background-repeat: no-repeat;
	padding: 2px 0 0 10px;
/* 	color: #CCE1F0; */
}

#menu .menuBox .right li.active a {
	background-image: url("../images/menuRightActive.png");
}

#menu .menuBox .right a:hover {
	background-image: url("../images/menuRightHover.png");
	color: white;
}


#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0px 0;
}

#menu ul.second,
#menu ul.third {
 	margin-top: 4px !important;
}

#menu li.parent {
	background-color: #ccc;
	color: #666;
	padding: 2px 0 0 10px;
	margin-bottom: 2px;
}


h1 {
	padding: 20px 0px 10px 0px;
	margin: 0;
	color: #797979;
	font-size: 1.5em;
	font-weight: normal;
}

h2 {
	color: #777;
	padding: 20px 5px 5px 0;
	margin: 5px 0 5px 0;
	font-size: 1.1em;
	font-weight: bold;
}

h3 {
	color: #0067B6;
	padding: 10px 0 0px 0;
	margin: 5px 0 0px 0;
	font-size: 1.1em;
	font-weight: normal;
}

.alert {
	color: #f00;
}

.entry input {
	margin: 5px 0 5px 0;
}

#content img {
/*	border: 1px solid #e1e1e1;
	padding: 2px;*/
}


p {
	line-height: 1.35em;
	padding: 0 75px 0 0;
	margin: 15px 0 0px 0;
}


#content .articleCapTexPicSmall {
}
#content .articleCapTexPicSmall p,
#content .articleCapTexPicMini p {
	padding-right: 0;
}

#content .articleCapTexPicSmall .text {
	width: 200px;
	float: left;
}

#content .articleCapTexPicMini .text {
	width: 350px;
	float: left;
}

#content .articleCapTexPicSmall .pic,
#content .articleCapTexPicSmall .picSmall {
	padding-top: 15px;
	width: 250px;
	float: right;
}

#content .articleCapTexPicMini .pic {
	padding-top: 15px;
	width: 100px;
	float: right;
}

#content .special {
/* 	border: 1px solid #FF6600; */
}

#content .special p {
	padding: 3px;
	color: #FF6600;
	font-weight: bold;
}

#content .failure p {
	padding: 3px;
	color: #FF6600;
	font-weight: bold;
}

#content ul li,
#content ol li {
	margin: 8px 0 8px 0;
	line-height: 1.35em;
}

#footer {
	height: 10px;
}

#copyright {
 	position: absolute;
	margin: 80px 0 0 78px;
}


/* CONTACT FORM */

#form_mail { width: 475px; border-top: 1px solid #dfdfdf; margin-top: 20px; }
#form_mail .row { clear: both; padding: 15px 0 10px 0; }
#form_mail .row .col1 { width: 170px; float: left; padding-top: 5px;}
#form_mail .row .col2, #form_mail .row .col2b  { width: 212px; float: right; }
#form_mail .row textarea, #form_mail .row input, #form_mail .row select {
	width: 100%;
	border: 1px solid #dfdfdf;
	color: #666666;
	font-family: arial, sans-serif;
	font-size: 1.0em;
	background-color: white;
}
#form_mail .row .col2b input { width: 80px;  border: 1px solid #dfdfdf; }
#form_mail .row textarea { height: 150px; }
#form_mail .submit { background-color: white; border: 1px solid #dfdfdf; }
#form_mail .fill_me {
	visibility: hidden;
	display: none;
}

/* Hash Image */

.hashimage {
	vertical-align: top;
	margin-top: -2px;
	border: 0 !important;
}

.hashLink {
	padding:0 !important;
	border: 0 !important;
	margin: 0 !important;
}

/* table */
div.table h2,
div.easyTable h2
{
	font-weight: bold;
}

div.table h3,
div.easyTable h3
{
	margin-bottom: 5px;
}

div.table h2.NoEdit,
div.easyTable h2.NoEdit
{
	margin: 16px 0;
}

div.table {
	padding: 10px 10px 0 0;
}

div.table .row {
	padding: 7px 0 2px 0;
	border-bottom: 1px dotted #ddd;
}

div.table .row p {
	margin: 0 !important;
	padding: 0 !important;
}

div.table .row .col1 {
	float: left;
	width: 50%;
}

div.table .row .col2 {
	float: left;
	width: 50%;
}

div.table .row .col1b {
	float: left;
	width: 40%;
	font-size:0.9em;
}

div.table .row .col2b {
	float: left;
	width: 23%;
}
div.table .row .col3b {
	float: right;
	margin-right: 2px;
}
div.table .row .col4b {
	float: right;
	font-size:0.85em;
	margin-right: 2px;
}
div.table .insurance-new {
	background: lightgreen;
}

div.table .insurance-mobile {
	background: lightblue;
}

div.table .insurance-zzv_de_new {
	background: lightcoral;
}

div.table .row a {
	padding-left: 0px;
}

div.table .row .rowEnd {
	clear: both;
}

/* data table */

div.dataTable {
	width: 100%;
}

/* list address data */

div.dataTable .name {
 	width: 310px;
	float: left;
	color: #333;
 	font-size: 1.05em;
}
div.dataTable .importantNotice {
	width: 15px;
	float: left;
}
div.dataTable .assignments {
	width: 20px;
	float: left;
}
div.dataTable .street {
	width: 200px;
	float: left;
}
div.dataTable .postcode {
	width: 80px;
	float: left;
}

div.dataTable .streetpost {
	width: 280px;
	float: left;
	color: #999;
}

div.dataTable .city {
	width: 180px;
	float: left;
}
div.dataTable .phone {
	width: 150px;
	float: left;
}
div.dataTable .fax {
	width: 150px;
	float: left;
}
div.dataTable .email {
	width: 200px;
	float: left;
}

div.dataTable .homepage {
	width: 200px;
	float: left;
}

div.dataTable .rowEven,
div.dataTable .rowOdd {
	padding: 7px 0 5px 0;
}

div.dataTable .rowOdd {
	background-color: #efefef;
}

/* list invoices */

div.dataTable .caption {
	width: 310px;
	float: left;
}

div.dataTable .price {
	text-align: right;
	padding-right: 25px;
	width: 80px;
	float: left;
}

div.dataTable .from {
	width: 100px;
	float: left;
}
div.dataTable .till {
	width: 100px;
	float: left;
}

div.dataTable .delivered {
	width: 100px;
	float: left;
}

div.dataTable .created {
	width: 150px;
	float: left;
}


div.dataTable .rowPerson {
	border-top:  1px dotted #dfdfdf;
	margin: 2px 0 0 0;
 	padding: 4px 0 2px 0;
}

div.dataTable .rowPerson .name {
	width: 290px;
	padding-left: 20px;
	color: #555;
	font-size: 1.0em;
}

div.dataTable a {
	display: block;
}

div.dataTable a:hover {
/* 	background-color: #dfdfdf; */
	text-decoration: underline;
	color: #333;
}



/* ------------ */

table.dataTable {
}

table.dataTable td {
	padding: 5px 10px 3px 5px;
}

table.dataTable td a {
	display: block;
}

.lr {
	padding-bottom: 30px;
	border-bottom: 1px solid #efefef;
}

.lr .left {
	float: left;
	width: 66%;
}

.lr .right {
	float: right;
	width: 33.5%;
}

table.dataTable tr.odd {
	background-color: #efefef;
}

table.dataTable a:hover {
	background-color: #dfdfdf;
/* 	padding: 5px 10px 3px 5px; */
}

table#benefits {
    border: 1px solid #ececec;
}

table#benefits td, table#benefits th {
    text-align: left;
    min-width: 120px;
}

table#benefits tr.even {
    background: #fafafa
}

table#benefits tr {
    height: 20px;
}

table#benefits td.mce-content-body {
    padding: 10px;
}

table#benefits td.mce-content-body:hover {
    cursor: pointer;
    cursor: hand;
    border: 2px solid #e3e3e3;
    background: #fff;
    padding: 8px;
}

table#benefits th.between {
    font-style: italic;
    padding: 12px 20px;
    text-align: right;
    background: #ececec;
}

.mce-floatpanel, .mce-container-body {
    width: 630px !important;
}

.notes textarea {
	margin: 15px 0 10px 0;
	height: 120px !important;
}

.checkbox {
	margin-right: 5px !important;
}

.notes input.submit3 {
	margin-top: 15px;
	width: 150px !important;
	height: 22px;
}

.notes .noteEntry,
.notes .noteEntryImportant {
	margin: 10px 0 0 0;
	padding: 0 0 5px 0;
	border-bottom: 1px dotted #dfdfdf;
}

.notes .noteEntryImportant p {
	color: red;
}


div.status {
	width: 15px;
	float: left;
}

div.status span { display: block; width: 7px; }
.status .s0,
.status .s   { background-color: #666; }
.status .s46 { background-color: #C00; }
.status .s47 { background-color: #FC0; }
.status .s48 { background-color: #6C0; }
.status .s49 { background-color: #90F; }
.status .s50 { background-color: #39F; }
.status .s51 { background-color: #F9F; }
.status .s54 { background-color: #E99; }
.status .s55 { background-color: #000; }

.row .col1b .byMail {
	margin: 0;
	width: 35px;

	background: white url("../../images/email.jpg") no-repeat 0 0;
}

.row .col1b .byMailPost {
	margin: 0;
	width: 35px;
	background: white url("../../images/briefumschlag_email.jpg") no-repeat 0 0;
}

.row .col1b .byPost {
	margin: 0;
	width: 35px;
	background: white url("../../images/briefumschlag.jpg") no-repeat 0 0;
}

.ulfloat ul {
	float: left;
}

.ulfloat .end {
	clear: left;
}

div.insurance {
	float: right;
}


/* datepicker */
div#ui-datepicker-div {
    background: rgb(238, 238, 238);
    border: 1px solid rgb(170, 170, 170);
    margin: 2px;
    padding: 5px;
    display: block;
    clip: unset;
}

a.ui-datepicker-next span {
    float: right;
}

.ui-datepicker-month,
.ui-datepicker-year {
    padding: 3px;
    margin: 10px;
}


/* overDiv */
#overDiv {
	width: 450px;
}